{% extends "base.html" %}

{% block title %}
<div class="d-flex">
    <h1>Cities compare</h1>
    <a href="{% url 'main' %}" class="btn btn-outline-primary">Back to list</a>
</div>
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Compare cities</h1>
    <a href="{% url 'main' %}" class="btn btn-outline-primary">Back</a>
    </div>

    {% if chart_html %}
    <div class="card mb-4">
        <div class="card-header bg-light">
            <h5 class="mb-0">Compare components of index</h5>
        </div> 
        <div class="card-body">
            {{ chart_html|safe }}
        </div>
</div>



<div class="card">
    <div class="card-header bg-light">
        <h5 class="mb-0">Detail stats</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>City</th>
                        <th>NDFL per capita</th>
                        <th>Unemployment</th>
                        <th>Schools/1k</th>
                        <th>Gas stat/1k</th>
                        <th>Bus stops/1k</th>
                        <th>Index</th>
                    </tr>
                </thead>
                <tbody>
                    {% for city in cities %}
                    {% with eco=city.economics.first infra=city.infrastructure %}
                    <tr>
                        <td><strong>{{ city.city }}</strong></td>
                        <td>{{ eco.ndfl_per_capita|floatformat:0 }}</td>
                        <td>{{ eco.unemployment_rate|default:"-" }}%</td>
                        <td>{{ infra.schools|default:"-" }}</td>
                        <td>{{ infra.gas_stations|default:"-" }}</td>
                        <td>{{ infra.bus_stops|default:"-" }}</td>
                        <td class="fw-bold">{{ city.calculate_inv_index|floatformat:2 }}</td>
                    </tr>
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    {% endif %}
</div>
{% endblock %}